/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #0303e6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #39ffff;
    color: rgb(13, 158, 163);
    text-align: center;
    padding: 1rem;
}

h1, h2 {
    margin: 0;
}

section {
    margin: 20px;
}

#review-list {
    background-color: #0e0d0d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(27, 27, 27, 0.1);
}

.review {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.review:last-child {
    border-bottom: none;
}

#add-review {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
